

.card-container-header{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}


.number-of-tasks{
  font-size: 15px;
  font-weight: light;
  color: #bcbcbc;
}