.card-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 9px 20px;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 26px;
  border: 1px solid #eee;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.09);
}

.card-title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
}

.number-of-tasks {
  font-size: 0.9rem;
  font-weight: 400;
  background-color: rgb(242, 224, 185);
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
}



.number-of-tasks:hover {
  background-color: rgba(242, 224, 185, 0.515);
}