.custom-btn{
  background-color: rgb(81, 0, 255);
}

.btn-1{
  background-color: blue;
  transition: background-color 0.3s ease;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 26px;
  cursor: pointer;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.btn-1:hover{
  background-color: lightblue;
}