.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  
  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: 4fr, 4fr;
  
  }

.modal-content {
  background-color: white;
  padding: 1rem;
  width: 300px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background: none;
  font-size: 18px;
}


.todo-btn {
  background-color: #2563eb;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.todo-btn:hover {
  background-color: #1d4ed8;
}



.cancel-btn{
  background-color: #aeb1b8;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-btn:hover{
  background-color: #aeb1b8;

}

