.settings-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(196, 196, 196, 0.581);
  padding: 12px;
  border-radius: 12px;
  margin-left: 26.5rem;
  margin-top: 3rem;
  margin-bottom: 0;
  max-width: 10%
}

.tab-button {
  background-color: transparent;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  color: #374151;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.tab-button:hover {
  background-color: #e5e7eb;
}

.tab-button.active {
  background-color: white;
  box-shadow: 0 0 0 1px #d1d5db;
  color: #111827;
}
