.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 160px 50px 50px;
  margin-left: 15rem;
  margin-top: 3rem;
  border-bottom: 1px solid #ddd;
  background: white;
}

.header-title {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;

}


.header-subtitle & .dashboard-date {
  margin: 4px 0 0;
  color: #666;
  font-size: 1rem;
}




.header-subtitle-right{
  margin: 4px 0 0;
  color: #666;
  font-size: 1rem;
  text-align: right;
  font-style: light;
  font-weight: 300;
} 

.header-subtitle-right:hover{
  color: #000;
  cursor: pointer;
}