
.dashboard-header{
  display: inline-block;
  padding: 60px;
  justify-content: center;
  align-items: center;
}

.welcome-message{
  font-size: 2rem;
  font-weight: normal;
  color: #333;
  justify-content: center;
  align-items: center;
}

