body{
  background-color: #f5f5f5;
}


.filter-container{
  align-items: left;
  padding: 100px;
  justify-content: space-between;
  margin-bottom: 0;
}

.filter-member{
  display: flex;
  margin-bottom: 0;
}

.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: solid 1px #ddd;
}


.main-header-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;  

}

.main-content{
  background-color: #fff;
  padding: 32px;
  border-radius: 10px;
  max-width: 1400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  margin: 40px auto;
  font-family: 'Segoe UI', sans-serif;
  margin-left: 18rem;
}

.main-content h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.main-content p {
  margin-top: 4px;
  color: #666;
  font-size: 14px;
}













.filter-dropdown {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-right: 100px;
  padding-top: 0%;

}


.todo-btn {
  background-color: #2563eb;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-btn:hover {
  background-color: #1d4ed8;
}


.cancel-btn{
  background-color: #aeb1b8;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-btn:hover{
  background-color: #aeb1b8;

}

.modal-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-top: 1px solid #e0e0e0;
}



.filter-btn {
  background-color: #aeb1b8;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-btn:hover {
  background-color: #aeb1b8;
}

.main-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;}