

.header-content{
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.filter-container{
  align-items: left;
  padding: 100px;
  justify-content: space-between;
  margin-bottom: 0;
}

.filter-member{
  display: flex;
  margin-bottom: 0;
}

.main-content{
  display: flex;  
  justify-content: space-between;
  display: block;
  padding: 80px;
}